services:
  db:
    image: postgres:16
    container_name: library_db
    environment:
      POSTGRES_USER: ${PGUSER}
      POSTGRES_PASSWORD: ${PGPASSWORD}
      POSTGRES_DB: ${PGDATABASE}
    ports:
      - "${PGPORT}:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: library_api
    depends_on:
      - db
    ports:
      - "${API_PORT}:8080"
    environment:
      PGHOST: ${PGHOST}
      PGUSER: ${PGUSER}
      PGPASSWORD: ${PGPASSWORD}
      PGDATABASE: ${PGDATABASE}
      PGPORT: ${PGPORT}
    restart: on-failure

volumes:
  db_data:
